.wrapper {
	overflow: hidden;
	position: relative;
	min-height: 100%;
}
body{
   font-family: Arial, Helvetica, sans-serif;
}
[class*='__container']{
   max-width: 800px;
   margin: 0 auto;
}
.section {
   padding: 50px;
   background-color: rgba(90, 45, 88, 0.719);
}
.section__body {
   width: 200px;
   height: 200px;
   background-color: rgba(95, 158, 160, 0.5);
   display: inline-block;
   position: relative;
   transform-style: preserve-3d;
   /* opacity: .5; */
   margin-right:50px;
   margin-bottom: 50px;
}
.section__item {
   width: 200px;
   height: 200px;
   background-color:coral;
}
h2{
   font-weight: 400;
   font-size: 18px;
   color: azure;
   text-align: right;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%);
   z-index: 2;
   text-transform: uppercase;
}
/* ============================================= */
.section__body:hover .section__item--translate{
   transform: translate(15%,15%);
   transition: all 0.3s ease 0s;
}
.section__body:hover .section__item--scale{
transform: scale(0.8);
transition: all 0.3s ease 0s;
}
.section__body:hover .section__item--rotate{
   /* transform: rotate(10deg); */
   transform: rotateX(50deg) rotateY(25deg);
   transition: all 0.3s ease 0s;
}
.section__body:hover .section__item--skew{
   transform: skew(4deg,-10deg);
   transition: all 0.3s ease 0s;
}
.section__body:hover .section__item--matrix{
   transform: matrix(0.8, 0.7, 0.5, 0.1, 0.2, 0.7);
   transition: all 0.3s ease 0s;
}
.section__body:hover .section__item--multy{
transform: translate(15%,15%) scale(0.7) rotate(20deg) skew(10deg, -25deg);
transition: all 0.3s ease 0s;
}
.section__body:hover .section__item--transform-origin{
   transform-origin: -100% -50%;
   transform: rotate(25deg) scale(.5);
   transition: all 0.3s ease 0s;
}
.section__body--perspective{
   perspective: 150px;
   perspective-origin: left;
   /* transition: all 0.3s ease 0s; */
}
.section__body:hover .section__item--perspective{
   transform: rotateX(10deg);
   transition: all 0.3s ease 0s;
}
/* ============================================= */

.flip {
   transform-style: flat;
}
.flip__body {
	position: relative;
	width: 200px;
	height: 200px;
	transition: all 0.5s ease 0s;
	transform-style: preserve-3d;
}
.flip__front,
.flip__back {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.flip__front {
	z-index: 2;
	transform: rotateY(0deg);
   background-color:coral;
	backface-visibility: hidden;
}
.flip__back {
	transform: rotateY(-180deg);
   background: url(../img/1.png) 0 0 / cover no-repeat;
}
.flip:hover .flip__body {
	transform: rotateY(-180deg);
}
/* ============================================= */

